body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(247 248 248);
  color: rgb(36, 36, 37);
}

.App-logo {
  display: block;
  margin: auto;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards-container a {
  display: block;
  margin: auto;
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}